body {
  margin: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), #000C18), url(../img/underwater.jpg);
  background-size: cover;
  overflow: hidden;
}

header {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  -webkit-backdrop-filter: grayscale(50%) sepia(20%) brightness(50%) blur(5px);
          backdrop-filter: grayscale(50%) sepia(20%) brightness(50%) blur(5px);
}
header #logo {
  height: 100px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px 40px;
  display: flex;
  align-items: center;
}
header #logo .logo-text {
  color: #f4edea;
  font-size: 3rem;
  padding-left: 10px;
  font-family: "Lobster", sans-serif;
}
header .nav {
  font-size: 3rem;
  padding: 20px 40px;
  display: flex;
  align-items: center;
}
header .nav .dropdown {
  background: #5B7885;
  position: absolute;
  top: 100px;
  right: 20px;
  font-size: 2rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}
header .nav .dropdown ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}
header .nav .dropdown ul li {
  transition: 0.5s;
  padding: 2px 10px;
  border: 2px solid #5B7885;
}
header .nav .dropdown ul li a {
  text-decoration: none;
  color: #f4edea;
}
header .nav .dropdown ul li:hover {
  background: #12263a;
  border-radius: 5px;
  border: 2px solid #c5d8d1;
}
header .nav .dropdown ul li:hover a {
  color: #c5d8d1;
}
header .nav .dropdown.active {
  opacity: 100%;
  visibility: visible;
}

main {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
}
main .maincontent {
  width: 90%;
  display: flex;
  justify-content: space-around;
}
main .maincontent .leftmain {
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 20px 5vw;
}
main .maincontent .leftmain .pfp {
  width: 340px;
  height: 340px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #51686E;
}
main .maincontent .leftmain .pfp img {
  width: 110%;
  transform: translatey(-5%);
}
main .maincontent .rightmain {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: #f4edea;
}
main .maincontent .rightmain h1 {
  font-family: "Merriweather", serif;
  font-size: 4rem;
  margin: 20% 0 0 0;
}
main .maincontent .rightmain h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  margin: 0;
}
main .maincontent .rightmain .rightmainbutton {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
main .maincontent .rightmain .rightmainbutton a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #f4edea;
  background: #5B7885;
  border-radius: 5px;
  padding: 2px 4px;
  transition: 0.25s;
  border: 2px solid #5B7885;
}
main .maincontent .rightmain .rightmainbutton a:hover {
  color: #c5d8d1;
  background: #12263a;
  border: 2px solid #c5d8d1;
}
main .maincontent::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 380px;
  z-index: -1;
  border-radius: 20px;
  -webkit-backdrop-filter: grayscale(50%) sepia(20%) brightness(50%) blur(5px);
          backdrop-filter: grayscale(50%) sepia(20%) brightness(50%) blur(5px);
  border-top: 3px solid rgba(255, 255, 255, 0.1882352941);
  border-left: 3px solid rgba(255, 255, 255, 0.1882352941);
  drop-shadow: 10px 10px 10 #5B7885;
}/*# sourceMappingURL=styles.css.map */